<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>China Travel Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<header>
    <h1>China Travel Assistant</h1>

    <nav>
    <a href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('features') }}">Features</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
</nav>

    <hr>
</header>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>
</body>
</html>
